body {
  font-family: 'Open Sans', Sans-Serif;
  margin: 0px;
  background-color: #f6f6f6;
}
h2 {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  color: #2a2a2a;
}
.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}
/* top of page */
.main-header {
  color: #333;
}

nav {
padding: 0 1em;
width: 80%;
margin: auto;
display: flex;
justify-content: flex-end;
}
nav ul{
  list-style: none;
  padding: 0px;
  position: fixed;
}
nav li {
  display: inline;
  padding-left: 1em;
  padding-right: 1em;
  height: 100%;
  text-align: center;
}
nav li:nth-child(1) {
  display: none;
}
nav a{
  text-decoration: none;
  color: #333;
  font-size: 0.9em;
  text-transform: uppercase;
}
nav a:hover {

  border-bottom: solid;
  border-width: 1px;
}
@media(max-width: 600px){
  nav ul{
  position: relative;
  margin-top: 5px;
  color: red;
  }
  nav li {
  padding: 0.1em;
  height:1.5em;
  display: block;
  text-align: right;
}
}
/* main body */

#intro {
  background:url(http://res.cloudinary.com/fstep/image/upload/v1512564102/background/Waves3_vu1txq.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 30%;
  min-height: 300px;
  height: 100vh;
  background-attachment: fixed;
}
.box1 {
  color: black;
  text-align: center;
  padding-top: 50px;
  position: sticky;
  top: 90px;
  bottom: 95px;
}
.box1 h1 {
  text-transform: uppercase;
  font-family: "Raleway";
  color: white;
  font-weight: 700;
  filter: drop-shadow(0em 0em 0.8em rgba(63, 63, 63, 0.9));
  font-size: 3em;
  letter-spacing: 0.5em;
}

.box1 div {
  text-transform: uppercase;
  letter-spacing: 0.5em;
  color: #777;
  position: relative;
  left: -12.4em;
  top: -3em;
}
@media(max-width: 650px) {
  .box1 h1 {
    margin: 0 15px;
  }
  .box1 div {
    position: relative;
    left: 0;
    top: 0;
  }
}
/*About*/
#about {
  background-color: #ededed;
}
.about-col {
  display: grid;
  grid-template-columns: 1fr 2fr;
}
@media(max-width: 650px) {
  .about-col {
    display: flex;
    flex-direction: column;
  }
  .me-div {
    margin: 0 auto 20px auto;
  }
}
#about .me-div {
  display: inline-block;
  border-radius: 50%;
  width: 30vw;
  height: 30vw;
  overflow: hidden;
}
.me-img {
width: 100%;
height: auto;
filter: grayscale(0.75);
}

#about .text {
text-align: justify;
margin: 0 0 20px 20px;
}
/*skills*/
#skills {
  background:url(http://res.cloudinary.com/fstep/image/upload/v1512564102/background/Waves3_vu1txq.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 30%;
  min-height: 300px;
  height: 40vh;
  background-attachment: fixed;
}
/* Main Footer */
.main-footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    margin-top: 40px;
    height: 1000px;
}

.main-footer i {
  padding: 0.6em;
}
#link-row {
  float: right;
}
.main-footer a {
  color: #fff;
  text-decoration: none;
}
#link-row a:hover {
  color: #999999;
  transition-duration: 0.5s;
}
