.skills {
  min-height: 400px;
  min-width: 100%;
  margin: 100px 0 50px 0;
  background-image: linear-gradient(
      to right,
      hsla(0, 0%, 0%, 0.6),
      hsla(0, 0%, 0%, 0.3)
    ),
    url("https://res.cloudinary.com/fstep/image/upload/f_auto/q_auto/c_scale,w_4000/v1512564102/background/Waves3_vu1txq.jpg");

  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 30%;
  width: 100%;
  min-height: 300px;
  background-attachment: fixed;
  position: relative;
  @media (max-width: 1921px) {
    background-image: linear-gradient(
        to right,
        hsla(0, 0%, 0%, 0.8),
        hsla(0, 0%, 0%, 0.5)
      ),
      url("https://res.cloudinary.com/fstep/image/upload/f_auto/q_auto/c_scale,w_1920/v1512564102/background/Waves3_vu1txq.jpg");
  }
  @media (max-width: 960px) {
    background-image: linear-gradient(
        to right,
        hsla(0, 0%, 0%, 0.8),
        hsla(0, 0%, 0%, 0.5)
      ),
      url("https://res.cloudinary.com/fstep/image/upload/f_auto/q_auto/c_scale,w_1200/v1512564102/background/Waves3_vu1txq.jpg");
  }
  @media (max-width: 1920), (min-height: 850px) {
    background-image: linear-gradient(
        to right,
        hsla(0, 0%, 0%, 0.8),
        hsla(0, 0%, 0%, 0.5)
      ),
      url("https://res.cloudinary.com/fstep/image/upload/f_auto/q_auto/c_scale,w_1920/v1512564102/background/Waves3_vu1txq.jpg");
  }
  @media (max-width: 600px) {
    background-image: linear-gradient(
        to right,
        hsla(0, 0%, 0%, 0.8),
        hsla(0, 0%, 0%, 0.5)
      ),
      url("https://res.cloudinary.com/fstep/image/upload/f_auto/q_auto/c_scale,w_960/v1512564102/background/Waves3_vu1txq.jpg");
  }
  &__wrapper {
    width: 68%;
    padding: 50px 0;
    margin: 50px auto;
    @media (max-width: 700px) {
      width: 80%;
    }
    & h2 {
      color: white;
      &::after {
        border-color: white;
      }
    }
    &__icons {
      color: white;
      font-size: 60px;
      display: flex;
      flex-flow: row wrap;
      justify-content: center;

      margin-bottom: 50px;

      & i {
        margin-top: 50px;
        width: 100px;
        height: 70px;
        align-self: flex-end;
        position: relative;
        @media (min-width: 1500px) {
          width: 200px;
        }
        &:before {
          position: absolute;
          bottom: 0;
          left: 50%;
          transform: translateX(-50%);
          position: absolute;
          bottom: 0;
          left: 50%;
          transform: translateX(-50%);
        }
        & svg {
          fill: white;
          width: 60px;
          height: 60px;
          position: absolute;
          bottom: 0;
          left: 50%;
          transform: translateX(-50%);
        }
      }
    }
  }
}
