html {
  font-size: 62.5%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}

h2 {
  margin: 0;
  @include fontSize(26);
  text-transform: uppercase;
  letter-spacing: 0.5em;
  color: black;
  font-weight: 700;
  position: relative;
  margin: 50px 0;

  &::after {
    content: "";
    border-top: 1px solid black;
    max-width: 250px;
    width: 20vw;
    min-width: 100px;
    position: absolute;
    bottom: -25px;
    right: calc(100% - 100px);
  }
}

p,
input,
label,
textarea {
  @include fontSize(16);
  line-height: 1.6;
  letter-spacing: 1px;
  z-index: 10;
}
